*{margin: 0px;padding:0px;}
body{margin:0px;padding:0px;}
header{display: flex;justify-content:space-between;background: rgb(83, 77, 77);border: 1px;align-items: center;}
.logo img{width: 150px;height: 100px;padding:10px;}
.nav{display: flex;align-items: center;}
.nav ul{display: flex;list-style: none;}
.nav ul li{padding: 40px;}
.nav ul li a{font-size: 25px;color:white;text-decoration: none;}
.fa-bars{color:white;font-size: 50px;padding-right: 10px;}
#home a{background: rgb(0, 183, 255);padding:10px 10px 10px;border-radius: 10px;}
@media screen and (max-width:805px){
    .nav ul{display:none;}
}
.submenu{display: flex;justify-content: right;align-items:flex-start;}
.subshow{display: flex;background: red;position:absolute;margin-top: -128px;display: none;justify-content: space-around;}
.social{display: flex;flex-direction: column;}
.submenu div{padding:30px;}
.social .fa{padding: 60px;font-size: 40px;}
.submenu ul li{padding:40px;}
.submenu ul li a{text-decoration: none;color:white;font-size: 40px;}

.footer{display:flex;justify-content:space-around;background: black;font-size: 200%;justify-content: baseline;}
.footer a{text-decoration: none;color:white;}
.footer p{text-decoration: none;color:white;}
.footer .fa{text-decoration: none;color:white;color:white;}
.devdonate a{background:pink;padding:15px;width: 100px;text-align: center;}
.devdonate{width:100%}
.footer h4{color:white;}
.col4{display: flex;flex-direction: column;align-items: center;}

@media screen and (max-width:726px){
    .footer{flex-direction: column;align-items: center;}
    .footer div{padding: 50px;}
    .footer h4{text-align: center;}
    .footer p a{text-align: center;}
    
}