{% extends 'base.html' %}
{% block title %}
About Target computer
{% endblock %}
{% block head %}
<link rel="stylesheet"href="{{url_for('static',filename='about.css')}}">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/88904dd6ba.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="about">
    <div class="social" id="social">
       <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i></a>
       <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
       <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
       <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      
       
    </div>
    
    <div class="aboutinfo">
        <img src="{{url_for('static',filename='images/about.png')}}">
        <div class="hulk">
            <h2>One Mission One Goal</h2>
            <p>The Target computer Education Hub<br>
               is a dream of Mr. Deep Dubey sir<br>
               His effort is to reach out every<br>
               students and provide the basic computer<br>
               education at affordable price<br>
               Let deep down in the world<br>
               of The Computer with Target computer
            </p>
            <div class="call">
                <span class="btn"><a href="">Join us</a></span>
                <span class="btn1"><a href="">Explore</a></span>
            </div>
        </div>

       
    </div>
</div>
{% endblock %}