{% extends "base.html" %}
{% block title %}
Corses Target computer
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='course.css')}}">
{% endblock %}
{% block content %}

<div class="coursecall" id="coursecall">
    <p><a href="#dcaimg">DCA</a></p>
    <p><a href="#adca">ADCA</a></p>
    <p><a href="#tally">TALLY</a></p>
    <p><a href="#dtp">DTP</a></p>
    <p><a href="#c++">C++</a></p>
    <p><a href="#java">JAVA</a></p>
    <p><a href="#bluej">BLUe-J</a></p>
    <p><a href="#typing">TYPING</a></p>
    <p><a href="#msoffice">Ms-Office</a></p>


</div>

<div class="dca">
    <div class="course1" id="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="" id="dcaimg">
        <div class="coursecontent">
            <h1 id="dca">DCA</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="#adca">ADCA</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="tally">TALLY</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="dtp">DTP</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="c++"> C++</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="java">JAVA</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="bluej">BLUE-J</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="typing">TYPING</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>
<div class="dca">
    <div class="course1">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}" alt="">
        <div class="coursecontent">
            <h1 id="msoffice">MS-Office</h1>
        <p>This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
            This course is Design for Beginners with
            Great examples and explanition this course will
            cover all the basics applicatins
        </p>
        <div class="coursebtn">
            <p><a href="">GET NOW</a></p>
        </div>
        </div>
    </div>
</div>



{% endblock %}

