{% extends "base.html" %}
{% block title %}
Courses Target computer
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='course.css')}}">
{% endblock %}
{% block content %}

<div class="course">
    <h1>Courses</h1>
    <div class="col1 col">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
    </div>
    <div class="aboutcourse">
        <p><b>DCA</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
        <p><b>ADCA</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
    </div>
    <div class="col2 col">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
    </div>
    <div class="aboutcourse">
        <p><b>Tally</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
        <p><b>C++</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
    </div>
    <div class="col3 col">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
    </div>
    <div class="aboutcourse">
        <p><b>PYTHON</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
        <p><b>Ms-Excel</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
    </div>
    
    <div class="col5 col">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
        <img src="{{url_for('static',filename='images/lapton.jpg')}}">
    </div>
    <div class="aboutcourse">
        <p><b>JAVASCRIPT</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
        <p><b>FLASK</b><br>
            Get this full course  <br>
            at affordable price.<br>
            This course is combo pack<br>
            contains many courses like<br>
            Notepad,Wordpad,Ms-access,<br>
            powerpoint,Ms-excel,<br>
            Touch typing and many more
        </p>
    </div>
</div>
<br><br><br><br><br>
{% endblock %}